<div fxFlex>
    <div *ngIf="products">
        <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let p of products">
                <app-product [product]="p">
                </app-product>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="errMess">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Error</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{errMess}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div [hidden]="products || errMess">
            <mat-spinner></mat-spinner>
            <h4>Cargando . . . </h4>
        </div>
    </div>
</div>