.general-card-products {
    background-color: #FDF6EB;
    color: black;
    font-family: 'Pacifico', cursive;
}

.card-product {
    background-color: #FDF6EB;
    color: black;
    font-family: 'Pacifico', cursive;
    padding: 0.5em;
}

.loading-component {
    margin-top: 2em;
}
