.product-card {
    background-color: #FDF6EB;
    color: black;
    font-family: 'Pacifico', cursive;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.product-card:hover {
    cursor: pointer;
}

.mat-card-image {
    object-fit: cover;
    max-height: 250px;
    width: 95%;
}
